<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simpleApps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>434524392BCFB93B009C0B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434524492BCFB93D009C0B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434524532BCFB93D009C0B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
